<footer class="site-footer">

  <div class="container">
  	<div class="social">
	    <a class="fa fa-weixin" href="http://t.cn/RLYN2Pr">
	    	<img src="{{ site.qrcode | prepend: site.qiniu_upload }}" />
	    </a>
	    <a class="fa fa-weibo" href="http://weibo.com/u/3030482914"></a>
	    <a class="fa fa-envelope" href="mailto: lijin.paul@gmail.com"></a>
	    <a class="fa fa-rss" href="/feed.xml"></a>
	</div>

  	<div class="copyright">
    	© 2013-2015 {{ site.title }}  |  陕ICP备14001344号
    </div>

  </div>

</footer>

<script src="{{ "assets/bootstrap/js/jquery.min.js" | prepend: site.qiniu }}"></script>
<script src="{{ "assets/bootstrap/js/bootstrap.min.js" | prepend: site.qiniu }}""></script>
