/**
 * Custom
 **/


body {
    -webkit-font-smoothing: antialiased;
    font-family: "Classic Grotesque W01", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
    font-size: 16px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a {
    color: #333;
    &:hover {
        color: #0F793C;
    }
}

.navbar{
    &.navbar-default {
        background: white;
    }
    min-height: 60px;
    margin-bottom: 0px;
    &.container {
        padding: 0px;
    }
    
    .navbar-header {
        h1 {
            margin: 0px;
        }
        .navbar-toggle {
            margin-top: 15px;
        }
    }

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        height: 60px;
        line-height: 60px;
        font-size: 24px;
        font-weight: 700;
        color: #555;

        img {
            margin-top: 12px;
        }
    }

    .navbar-nav {
        float: right;
        margin-right: -15px;
        li {
            margin-left: 20px;
            a {
                color: #333;
                padding-top: 0;
                padding-bottom: 0;
                line-height: 60px; 
                height: 60px;
                font-size: 16px;
                border-bottom: 2px solid transparent;

                &:hover {
                    border-bottom: 2px solid #27ae60;
                }
            }

        }
        &.navbar-social{
            margin-top: 18px;
            span {
                margin-left: 5px;
            }
        }
    }

}

.navbar-default {
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-sizing: content-box;
    .navbar-nav {
        .active{
            a {
                border-bottom: 2px solid #27ae60;
                background: transparent;
                font-weight: 700;
                &:hover {
                    background: transparent;
                }
            }
        }
        .focus {

        }
    }
}

a {
    &:hover {
        text-decoration: none;
    }
}

.site-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 60px;
    color: #767676;
    font-size: 14px;
    border-top: 1px solid #e5e5e5;

    .qrcode {
        text-align: center;
        img {
            width: 100px;
            margin-bottom: 10px;
        }
    }

    .container {
        position: relative;
    }

    .social {
        position: absolute;
        right: 0;
        top: 0;
        a {
            color: #fff;
            display: inline-block;
            width: 30px;
            height: 30px;
            vertical-align: middle;
            border-radius: 50%;
            background: #888888;
            margin-left: 10px;
            font-size: 15px;
            line-height: 30px;
            text-align: center;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;

            &.fa-weixin img {
                display: none;
            }

            &.fa-weixin:hover {
                background: #44b549;
                img {
                    display: block;
                    width: 120px;
                    position: absolute;
                    left: -35px;
                    bottom: 40px;
                }
            }
            &.fa-weibo:hover {
                background: #E46F6C;
            }
            &.fa-envelope:hover {
                background: #47a6d9;
            }
            &.fa-rss:hover {
                background: #e9640e;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    
}

.icon {
    width: 24px;
    height: 24px;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.index-banner {
    background-image: url(/assets/img/banner.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    color: #eeeeee;
    text-align: center;

    .slogan {
        margin-top: 140px;
        font-size: 32px;
    }
    .slogan-info {
        margin-top: 40px;
        border-radius: 100px;
        padding: 10px 60px;
        background: transparent;
        color: #aaaaaa;
        font-size: 18px;
        border: 1px solid #aaaaaa;
        display: inline-block;

        &:hover {
            background-color: rgb(39, 174, 96);
            border-color: #27ae60;
            color: white;
        }
    }
}

.banner {
    background: #333;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

    p {
        font-size: 18px;
    }
}


/**  Startup  **/

.startups {
    background: #f7f7f7;
    margin-bottom: -60px;
    padding-bottom: 60px;
}

.startup-list {
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
    li {
        float: left;
        width: 25%;
        padding: 15px;
        font-size: 13px;
        line-height: 20px;
        
        .item {
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 0 3px #e1e1e1;
            color: #888;
            overflow: hidden;

            .item-cover {
                position: relative;
                display: block;
                overflow: hidden;
                height: 150px;
                img {
                    width: 100%;
                    min-height: 150px;
                      -moz-transform: scale(1);
                      -ms-transform: scale(1);
                      -webkit-transform: scale(1);
                      transform: scale(1);
                      -moz-transition-duration: 0.5s;
                      -o-transition-duration: 0.5s;
                      -webkit-transition-duration: 0.5s;
                      transition-duration: 0.5s;
                    
                }
                &:hover {
                    img {
                          -moz-transform: scale(1.1);
                          -ms-transform: scale(1.1);
                          -webkit-transform: scale(1.1);
                          transform: scale(1.1);
                          -moz-transition-duration: 0.5s;
                          -o-transition-duration: 0.5s;
                          -webkit-transition-duration: 0.5s;
                          transition-duration: 0.5s;
                    }
                }
            }
            

            .item-body {
                padding: 25px;
                position: relative;
                text-align: center;
                h3 {
                    margin: 0px;
                    font-size: 18px;
                    a {
                       color: #333;
                       &:hover {
                            color: #666;
                       } 
                    }
                }
                p {
                    margin-top: 15px;
                    margin-bottom: 0;
                    font-size: 14px;
                    height: 40px;
                }
            }
        }
    }
    
}

.startup-header {
    overflow: hidden;
    padding: 0 !important;
    .startup-cover {
        display: block;
        overflow: hidden;
        padding: 0;
        height: 150px;
        img {
            min-width: 100%;
        }
    }
    .startup-info {
        padding-left: 20px;
        .title {
            font-size: 28px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: 700;
        }
        .desc {

        }
        .addr {
            color: #777777;
            font-size: 14px;
            margin-top: 24px;
            margin-bottom: 15px;
        }
    }
}

.startup {
    .startup-main {
        .intro {
            p {
                line-height: 1.6;
                margin-bottom: 16px;
            }
        }
        .startup-progress {
            ul li {
                line-height: 2;
                span {
                    float: left;
                    width: 120px;
                }
            } 
        }
        .team {
            padding-bottom: 8px;
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    &.member {
                        float: left;
                        margin-bottom: 10px;
                        width: 100%;
                        .member-avatar {
                            float: left;
                            padding-right: 12px;
                            width: 30%;
                            max-width: 100px;
                            img {
                                border-radius: 2px;
                            }
                        }
                        .member-body {
                            float: left;
                            width: 70%;
                            .member-name {
                                margin-bottom: 5px;
                                font-weight: 700;
                                color: #333;
                            }
                            .member-position, .member-desc {
                                color: #666;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.cbox {
    border: 1px solid #f3f3f3;
    background: #fff;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 20px;

    .box-title {
        border-bottom: 1px solid #f2f2f2;
        margin: 0px;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 20px;
        margin-top: -5px;
        padding-left: 20px;

        h2 {
            margin: 0 !important;
            font-size: 16px;
            display: inline-block;
            border-bottom: 2px solid #27ae60;
            padding-bottom: 14px;
        }
    }

    ul {
        margin: 0;
    }
}

.sidebar {
    margin-top: 5px;
    padding-right: 40px;
    .cbox {
        border: none;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        ul {
            list-style: none;
            padding: 0;
        }
    }
}

.nopad {
    padding: 0 !important;
}


/***  Post ***/

.page {
    padding-top: 40px;
}

.post-list {
    .cbox {
        padding-bottom: 5px;
    }
    ul {
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0;
        li {
            font-size: 16px;
            margin-bottom: 15px;
            a {
                color: #333;
                display: inherit;
                line-height: 1.6;
                &:hover {
                    color: #27ae60;
                }
            }
            .publish-date {
                float: right;
                font-size: 14px;
                color: #666;
                line-height: 1.6;
                margin-left: 10px;
            }
        }
    }
}

.posts-category {
    ul {
        li {
            line-height: 30px;
            a {
                color: #333;
            }
        }
    }
}

.post {
    max-width: 700px;
    width: 100%;
    margin: 0 auto; 

    .post-header {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

}



article {
    font-size: 16px;
    line-height: 1.65;

    a {
        color: #27ae60;
    }

    p {
        margin-bottom: 10px;
    }

    img {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    h1, h2, h3 {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    h1 {
        font-size: 30px;
    }

    h2, h3 {
        font-size: 20px;   
    }

    h4 {
        font-size: 16px;
        line-height: 40px;
    }

    h2 {
        border-bottom: 1px solid #eee;
        padding-bottom: 0.5em;
        margin-top: 30px;
    }

    blockquote {
        font-size: inherit;
        padding: 0 20px;

        p {
            margin-bottom: 0px;
        }
    }

    table {
        font-size: 15px;
    }

    ul, ol {
        margin-bottom: 20px;
    }

    hr {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    code {
        color: #27ae60;
    }

    pre code {
        color: inherit;
    }
}


.cbox {
    padding: 20px;
}

.title-box,
.posts-category,
.startup-progress, {
    padding: 20px;
    ul {
        padding: 0;
        list-style: none;
    }
}

/** Service **/

.page {
    a {
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    .main-content {
        padding-left: 30px;
        h1.title {
            font-size: 24px;
            margin-top: 0 !important;
            margin-bottom: 40px;
        }
    }
    ul.member-list {
        float: left;
        list-style: none;
        padding: 0;
        li {
            float: left;
            width: 33%;
            padding-right: 30px;
            font-size: 13px;
            line-height: 20px;

            .member-body {
                h3 {
                    margin-top: 5px;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 14px; 
                    margin-bottom: 5px;
                }
            }

        }
    }
    .sidebar {
        .cbox {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        ul {
            padding: 0 !important;
            li {
                line-height: 30px;
                display: inline-block;
                width: 100%;
                a {
                    display: block;
                    line-height: 50px;
                    i {
                        width: 30px;
                        &.right-arrow {
                            display: none;
                            float: right;
                            margin: 0 auto;
                            line-height: 50px;
                            font-size: 14px;
                            text-align: end;
                        }
                    }
                }
                &.active {
                    a {
                        font-weight: bold;
                        &:hover {
                            color: #333;
                        }
                        i.right-arrow {
                            display: inline;
                            color: #27ae60;
                        }
                    }
                }
            }

        }
    }
}


table {
    margin-top: 15px;
    tr {
        background-color: #fff;
        border-top: 1px solid #ccc;
    }
    td, th {
        padding: 6px 13px;
        border: 1px solid #ddd;
    }
}


@media screen and (max-width: 992px) {
    .startup-list {
        li {
            width: 50%;
            .item {
                .item-cover {
                    height: 180px;
                    img {
                        min-height: 180px;
                    }
                }
            }
        }
    }
    .startup-header {
        .startup-cover {
            height: auto;
        }
    }
    .startup {
        .startup-main {
            .team {

            }
        }
    }
    .page { 
        .left-divider {
            padding-left: 15px;
            border-left: none;
        }
        .sidebar {
            padding-right: 15px;
            text-align: center;
            margin-top: -20px;
        }
        ul.member-list {
            li {
                width: 50%;
            }
        }
    }
    .page {
        .sidebar {
            text-align: inherit;
            .cbox {
                padding-top: 8px;
                padding-bottom: 8px;
            }
            ul li {
                text-align: center;
                width: 49%;
                a {
                    line-height: 60px;
                    i {
                        margin-left: -10px;
                    }
                }
                &.active {
                    a {
                        color: #27ae60;
                    }
                    a i.right-arrow {
                        display: none;
                    }
                }
                &:hover a {
                    color: #27ae60;
                }
            }
        }
    }
}

.clearfix {
    clear: left;
}

@media screen and (max-width: 768px) {
    .navbar .navbar-nav {
        float: none; 
        li {
            margin-left: 0;
            a {
                &:hover {
                    border-color: transparent;
                    background: #f3f3f3;
                }
            }
            &.active a {
                border-color: transparent;
            }
        }
    }
    .startup-list {
        li {
            width: 100%;
        }
    }
    ul.member-list {
        li {
            width: 100%;
        }
    }
    .banner {
        h2 {
            font-size: 24px;
        }
        p {
            font-size: 16px;
        }
    }
    .page {
        padding-top: 20px;
        .cbox {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    .site-footer {
        text-align: center;
        .social {
            position: relative;
            margin-bottom: 20px;
        }
    }
}



/**
 * Icons
 */
.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: rgb(130, 130, 130);
        }
    }
}


/** jinshuju **/

.jinshuju {
    border: 1px solid #eee;
    padding: 20px;
}