---
layout: default
---

{% include banner.html %}

<div class="container page">

  <div class="row">
  	<div class="col-md-3 left-column">
  		
      <div class="normal-box">
        <ul>
          <li class="{% if page.url == '/about/' %}active{% endif %}">
            <a href="/about/">
              <i class="fa fa-info-circle"></i>关于闪孵<i class="fa fa-chevron-right right-arrow"></i>
            </a>
          </li>
          <li class="{% if page.url contains '/about/members' %}active{% endif %}">
            <a href="/about/members"><i class="fa fa-user"></i>闪孵团队<i class="fa fa-chevron-right right-arrow"></i></a>
          </li>
          <li class="{% if page.url contains '/about/cooperators' %}active{% endif %}">
            <a href="/about/cooperators"><i class="fa fa-globe"></i>合作伙伴<i class="fa fa-chevron-right right-arrow"></i></a>
          </li>
        </ul>
      </div>

  	</div>

  	<div class="col-md-9 left-divider right-column">
	  	<article class="post-content">
	    	{{ content }}
	  	</article>
  	</div>
  </div>

</div>
