---
layout: default
---

{% include banner.html %}

<div class="startups">
	<div class="container">
		<ul class="startup-list">
		  <li>
		  	<a href="/startup/">
			  	<div class="item go-archive" style="height: 274px;">
			  		<h4 style="margin-top: 122px">< 查看当前孵化项目</h4>
			  	</div>
		  	</a>
		  </li>
		  {% assign results = site.startup | where:"archive", true %}
		  {% for item in results %}
		    <li>
		      <div class="item">
		        <div class="item-cover">
		          <a href="{{ item.url }}">
		          	<img src="{{ item.cover | prepend: site.qiniu_upload }}"/>
		          </a>
		        </div>
		        <div class="item-body">
		          <h3>
		            <a class="post-link" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
		          </h3>
		          <p>{{ item.desc }}</p>
		        </div>
		      </div>
		    </li>
		  {% endfor %}
		  
		</ul>

	</div>

	
</div>
